<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	
	<script>
		var metaApp=angular.module('meta-app', []);

		metaApp.controller('metaCtrl', ['$scope','$http', function($scope, $http){
			$scope.page=function(num){
				$scope.start=1;
				$scope.last=7;
				$scope.preUndo="";
				$scope.lasUndo="";
				

				var url1='http://10.1.5.200:3000/biz/getBizList?page_size=10&'
				var url2='page_number='+(num-1)+'&API_KEY=META_TEST';
				
				$http.get(url1+url2).then(function(response){
					$scope.projectList=response.data.data.dataList;
					$scope.totalSize=response.data.data.totalSize;
					$scope.totalPage=Math.ceil($scope.totalSize/10);
				}).catch(function(response){
					console.log("Error!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!", response.status, response.data);
				});
				
				if (num<4){
					$scope.start = 1;
					$scope.last = 7;
				}else {
					$scope.start=num-3;
					$scope.last=num+3;
				}

				if( $scope.last>=$scope.totalPage){
					$scope.lasUndo="disabled";
				}
				if($scope.start==1){
					$scope.preUndo="disabled";
				}
			};//page END

			$scope.range=function(startIn, lastIn){
				$scope.start=startIn;
				$scope.last=lastIn;
				$scope.pageArr=new Array;
				var j=0;

				if($scope.last>$scope.totalPage){
					$scope.last=$scope.totalPage;
				}
				for(var i=$scope.start;i<=$scope.last;i++){
					$scope.pageArr[j]=i;
					j++;				
				}
				return $scope.pageArr;
			};//range END

		}]);
	</script>
</head>



<body ng-app="meta-app" ng-controller="metaCtrl">
	<div class="container">
	  <div class="col-12">
		  <div ng-init="page(1)">
		  <h5 class="m-t-20"> 현재 등록된 프로젝트 수 {{totalSize}} </h5>
		  <div class="table-responsive-sm table-hover" >
			  <table class="table">
				  <thread>
					  <tr>
						  <th scope="col">프로젝트명</th>
						  <th scope="col">사이트명</th>
						  <th scope="col">프로젝트상세</th>
						</tr>
					</thread>
					<tbody ng-repeat="project in projectList">
						<tr>
							<td> {{ project.pr_nm }} </td>
							<td> {{ project.site_nm }} </td>
							<td> {{ project.product_detail }} </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	   <nav aria-label="Page Navigation Example">
	   	<ul class="pagination justify-context-center" >
	   		<li class="page-item {{preUndo}}"> <a class="page-link" ng-click="page(start-3)">Previous</a></li>
			   <li class="page-item" ng-repeat="pageItem in range(start, last)"> <a class="page-link" id="page" ng-click="page(pageItem)">{{pageItem}}</a></li>
	   		<li class="page-item {{lasUndo}}"> <a class="page-link" ng-click="page(last+3)">Next</a></li>
	   	</ul>
	   </nav>
	  </div>
	 </div>
	</div>
</body>
</html>